---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BrandIntro from '../components/BrandIntro.astro';
import Gallery from '../components/Gallery.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';
import Services from '../components/Services.astro';
import HolidayLighting from '../components/HolidayLighting.astro';
import Philosophy from '../components/Philosophy.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <BrandIntro />
    <Gallery />
    <Benefits />
    <Testimonials />
    <Services />
    <HolidayLighting />
    <Philosophy />
    <FinalCTA />
    <Contact />
  </main>
  <Footer />
</Layout>
